header{
	margin: 0 auto;
	text-align: center;
	font-family: Arial;
}
header h1{
	font-size: 40px;
}
header p{
	font-size: 25px;
	margin: 20px auto;
}
header a{
	text-decoration: none;
	border-radius: 10px;
	background-color: #8f7a66;
	padding: 10px 10px;
	color: white;
}
header a:hover{
	background-color: #9f8b77;
}

#grid-container{
	background-color: #bbada0;
	width: 460px;
	height: 460px;
	padding: 20px;
	margin: 50px auto;
	border-radius: 10px;
	position: relative;
}
.grid-cell{
	width: 100px;
	height: 100px;
	border-radius: 6px;
	background-color: #ccc0b3;
	position: absolute;
}
.num-cell{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	border-radius: 50%;
	position: absolute;
}